bandit==1.8.3
beautifulsoup4==4.12.2
blinker==1.6.2
bs4==0.0.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
defusedxml==0.7.1
flask==2.3.2
gunicorn==23.0.0
idna==3.4
itsdangerous==2.1.2
jinja2==3.1.2
mal-api==0.5.3
markdown-it-py==3.0.0
markupsafe==2.1.3
mdurl==0.1.2
packaging==23.1
pbr==6.1.1
pygments==2.19.1
python-dotenv==1.0.0
pyyaml==6.0.2
requests==2.31.0
rich==14.0.0
setuptools==78.1.0
soupsieve==2.4.1
stevedore==5.4.1
urllib3==2.2.2
werkzeug==3.0.6
