html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  
:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: 	#686868;
  }
  