/* styles.css */

html, body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    line-height: 1.4;
  }
  
  img {
    max-width: 40px;
  }
  
  h1 {
    padding-top: 20px;  
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }


  header {
    position: relative; /* Set a default position */
    padding: 20px 20px 0 20px;
    top: 0;
    display: grid;  
    grid-gap:5px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
     "nt mn mn sb . . . "; 
    background-color: var(--primary);
    width: 100%;
    height: 55px;
    margin-bottom: 0px;  
    z-index: 100;
  }

  .main-nav {
    grid-area: mn;
    padding: 0 150px 0 0px;
  }

  .main-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;  
  }
  
  .main-nav a:hover {
    color: var(--dark);
  }
  
  .sub-nav {
    grid-area: sb;
    padding: 0 40px 0 40px;
  }
  
  .sub-nav a {
    color: var(--light);
    text-decoration: none;
    margin: 5px;
  }
  
  .sub-nav a:hover {
    color: var(--dark);
  }

  .siteLogo {
    grid-area: nt;
    object-fit: cover;
    width: 100px;
    max-height: 100%;
    
    padding-left: 30px;
    padding-top: 0px;  
  }
  
  .siteLogo img {  
    height: 35px;     
  }
  
  #logo {
    color: #E50914;  
    margin: 0; 
    padding: 0; 
  }
  

.searchContainer {
position: relative;
width: 600px;
margin: 0 auto;

}

.inputBox input {
    width: 800px;
    padding: 10px 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: var(--primary);
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    margin: auto;

}


.search_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    font-size: 1.4rem;
}
.search {
    display: flex;
}
.search__input {
    border: none;
    background-color: #f4f2f2;
    padding: 0.7rem 2rem;
    border-radius: 100px;
    margin-right: -3rem;
    transition: transform 0.2s ease-in-out;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    width: 300px; 
}
.search__input:focus {
    outline: none;
    transform: scale(1.05);
}
.search__input::placeholder {
    font-weight: 100;
    color: #555454;
}
.search__input:focus + .search__button {
    transform: translatex(0.8rem);
}
.search__button {
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 20;
    transition: transform 0.2s ease-in-out;
}
.search__button:focus {
    outline: none;
}
.search__button:active {
    transform: translatey(0.2rem);
}
.search__icon {
    fill: #999;
}


/* Add a container for the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px; /* Adjust this value to reduce the space between cards */
    width: 250px;
    text-align: center;
    background-color: #282828;
    /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); */
  }
  

  .hover-img {
    background-color: transparent;
    color: #ffffff;
    display: inline-block;
    margin: 8px;
    /* max-width: 320px;
    min-width: 200px; */
    max-width: 200px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.hover-img * {
    box-sizing: border-box;
    transition: all 0.45s ease;
}

.hover-img:before,
.hover-img:after {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: 0px solid rgba(0, 0, 0, 0.5);
    border-bottom: 0px solid rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    transition: all 0.3s ease;
    z-index: 1;
    opacity: 0;
    transform: scaleY(2);
    border-radius: 10px
}

.hover-img img {
    vertical-align: top;
    max-width: 100%;
    height: 310px;
    backface-visibility: hidden;
    border-radius: 10px
}

.hover-img figcaption {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1em;
    opacity: 0;
    z-index: 2;
    transition-delay: 0.1s;
    font-size: 24px;
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hover-img:hover:before,
.hover-img:hover:after {
    transform: scale(1);
    opacity: 1;
}

.hover-img:hover > img {
    opacity: 0.7;
}

.hover-img:hover figcaption {
    opacity: 1;
}

:root {
    --primary: #141414;
    --light: #F3F3F3;
    --dark: 	#686868;
  }

  .wrapper {
    margin: 0;
    padding: 0;
  }

  .hover-img:hover h3 {
    opacity: 1;
    font-size: 16px
}

  .hover-img h4 {
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    margin: 0;
    padding: 10px;
    color: #ffffff;
    font-size: 12px;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 2;
}

.hover-img:hover h4 {
    opacity: 1;
    font-size: 12px
}