<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="shortcut icon" href="#">
</head>
<body>

  <h1>POST Request Example</h1>
  <form action="/submit-data" method="POST">
    <input type="text" id="user" name="user" placeholder="Enter your data" >
    <input type="submit">
  </form>


  <script>
    const anime_data = {{ anime_info | tojson }}
    console.log(anime_data)
</script>

  <div id="data-container">
    <!-- JSON data will be displayed here -->
  </div>

</body>
</html>
