<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="shortcut icon" href="#">
  </head>
  <body>

    <h1>POST Request Example</h1>
    <form action="" method="POST">
      <input type="text" id="user" name="user" placeholder="Enter your data" />
      <input type="submit" >Make POST Request</button>
    </form>
    <p>Home Page</p>

    <div id="data-container">
      <!-- JSON data will be displayed here -->
  </div>
  

    <script src="../static/js/index.js">

document.addEventListener('DOMContentLoaded', function () {
    changeImageTitles();
  });
  
    </script>
    <script>

// Using JavaScript fetch to make a GET request to the Flask backend



      // var animeNames = clearList("{{ anime_names }}")
      // var animeSongs = clearList("{{ anime_songs }}");
      // var animeImgs = clearList("{{ anime_imgs }}");
      // var osu_links = clearList("{{ osu_links }}");
      

    </script>
  </body>
</html>
