<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-0X9V0SRC1X"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-0X9V0SRC1X");
    </script>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/about.css') }}"
    />
    <meta
      name="description"
      content="Find Osu! Beatmaps from your MyAnimeList profile with just one click of a button"
    />

    <title>
      About | Anisync | Find Osu! maps you love from your MAL account
    </title>
  </head>
  <body>
    <div class="wrapper">
      <div>
        <header id="main-header">
          <div class="siteLogo">
            <a href="{{ url_for('search') }}">
              <img
                src="{{ url_for('static', filename='images/aniosulogo.webp') }}"
                alt="Website Logo"
              />
            </a>
            <a href="{{ url_for('search') }}">
              <img
                class="imgText"
                src="{{ url_for('static', filename='images/aniosutext.webp') }}"
                alt="Anisync"
              />
            </a>
          </div>

          <nav class="main-nav">
            <a
              class="github-link"
              target="_blank"
              href="https://github.com/RajPandya737/MAL-to-Osu-Beatmaps"
              >Github</a
            >
            <a class="about-link" target="_self" href="{{ url_for('search') }}"
              >Search</a
            >
          </nav>
        </header>

        <div>
          <h1 class="main-h1">About</h1>
          <p>
            Welcome to Anisync - Uniting Anime and Rhythm! Are you a passionate
            anime lover who also enjoys the exhilarating world of Osu? If so,
            you've just stumbled upon your new favorite online destination.
            Anisync is a unique platform that bridges the gap between your anime
            adventures and the pulse-pounding excitement of Osu! beatmaps. It's
            time to amplify your entertainment. Experience and immerse yourself
            in a realm where anime and rhythm unite in spectacular harmony. Your
            Anime Adventures. Rhythmically Enhanced.
          </p>
        </div>
        <div>
          <h1 class="main-h1">FAQ</h1>
          <div class="faq">
            <div class="question">
              <h2 class="faq-h2">1. How does Anisync work?</h2>
              <svg width="15" height="10" viewBox="0 0 42 25">
                <path
                  d="M3 3L21 21L39 3"
                  stroke="white"
                  stroke-width="7"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div class="answer">
              <p>
                Simply tell us your MAL username on our seach page. Our site
                analyzes your anime list and matches them with Osu! beatmaps
                within our database, and then displays them to you.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <h2 class="faq-h2">
                2. My full list is not showing up, why is that?
              </h2>
              <svg width="15" height="10" viewBox="0 0 42 25">
                <path
                  d="M3 3L21 21L39 3"
                  stroke="white"
                  stroke-width="7"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div class="answer">
              <p>
                Due to the way we are currently pulling data from MyAnimeList,
                themes on your profile can cause issues with our site. If you
                are using a theme, please disable it and try again. Additional
                problems include having a private list, or typing your username
                incorrectly. Currently, we only display your top 300 anime due
                to API and webscrapping limitations.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <h2 class="faq-h2">3. Is there a cost to use Anisync?</h2>
              <svg width="15" height="10" viewBox="0 0 42 25">
                <path
                  d="M3 3L21 21L39 3"
                  stroke="white"
                  stroke-width="7"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div class="answer">
              <p>
                No, we want to give you the best experiance possible and as of
                right now, we believe keeping this service free is the best
                scenario for everyone
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <h2 class="faq-h2">
                4. Some shows say unavaliable, why is that?
              </h2>
              <svg width="15" height="10" viewBox="0 0 42 25">
                <path
                  d="M3 3L21 21L39 3"
                  stroke="white"
                  stroke-width="7"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div class="answer">
              <p>
                There are plently of reasons as to why this may show up, as of
                right now, we do not support most OVA's, Movies, or Specials
                unless they are widely popular and have a large fanbase. Another
                possibility is that we could not find a suitable map for the
                anime in our search. If you would like to suggest a map, please
                contact us and we will review it (contact details at the bottom
                of the page).
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <h2 class="faq-h2">5. Can I suggest beatmaps?</h2>
              <svg width="15" height="10" viewBox="0 0 42 25">
                <path
                  d="M3 3L21 21L39 3"
                  stroke="white"
                  stroke-width="7"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div class="answer">
              <p>
                Absolutely! We encourage community engagement. If you come
                across an Osu! beatmap that perfectly complements an anime, you
                can suggest it. We're always excited to expand our collection.
                For contact details, view the bottom of this page.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <h2 class="faq-h2">
                6. Is Anisync affiliated with MyAnimeList or Osu!?
              </h2>
              <svg width="15" height="10" viewBox="0 0 42 25">
                <path
                  d="M3 3L21 21L39 3"
                  stroke="white"
                  stroke-width="7"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div class="answer">
              <p>
                No, Anisync is an independent project created by an anime and
                Osu! enthusiast. We're not officially affiliated with
                MyAnimeList or Osu!, but we're excited to bring their worlds
                together in a unique way.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <h2 class="faq-h2">7. Is this website safe?</h2>
              <svg width="15" height="10" viewBox="0 0 42 25">
                <path
                  d="M3 3L21 21L39 3"
                  stroke="white"
                  stroke-width="7"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div class="answer">
              <p>
                This project is completely safe. We do have Google Analytics
                running in the background, but that is to just mointor the scale
                of the website. We are fully open source and you can view all of
                the code by clicking on the github link at the top of this page.
              </p>
            </div>
          </div>

          <div class="faq">
            <div class="question">
              <h2 class="faq-h2">8. How can I support this project?</h2>
              <svg width="15" height="10" viewBox="0 0 42 25">
                <path
                  d="M3 3L21 21L39 3"
                  stroke="white"
                  stroke-width="7"
                  stroke-linecap="round"
                />
              </svg>
            </div>
            <div class="answer">
              <p>
                The best way to support this project is to share it with your
                friends and family who are also anime and Osu! fans. Starring
                the respository on github can also help us reach more people.
              </p>
            </div>
          </div>
        </div>
        <div>
          <h1 class="main-h1">Contact</h1>
          <p>
            Currently, the fastest way to contact us is through my discord, send
            a message to me at r.aj_23 and I will get back to you as soon as
            possible. I also have a twitter page, check it out at @rajdev737.
            Thank you for using Anisync!
          </p>
        </div>
        <div>
          <footer>
            <p style="opacity: 0.3">Made with ❤</p>
            <p style="opacity: 0.3">
              Copyright © 2023 Anisync. All Rights Reserved
            </p>
          </footer>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/about.js') }}"></script>
  </body>
</html>
