<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-0X9V0SRC1X"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-0X9V0SRC1X");
    </script>
    <link
      rel="icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
      type="image/x-icon"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Search | Anisync | Search for Osu! maps you love from your MAL account
    </title>
    <meta
    name="description"
    content="Find Osu! Beatmaps from your MyAnimeList profile with just one click of a button"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/search.css') }}"
    />
  </head>
  <body>
    <header id="main-header">
      <div class="siteLogo">
        <a>
          <img
            src="{{ url_for('static', filename='images/aniosulogo.webp') }}"
            alt="Website Logo"
          />
        </a>
        <a>
          <img
            class="imgText"
            src="{{ url_for('static', filename='images/aniosutext.webp') }}"
            alt="Anisync"
          />
        </a>
      </div>
      <nav class="main-nav">
        <a
          class="github-link"
          target="_blank"
          href="https://github.com/RajPandya737/MAL-to-Osu-Beatmaps"
          >Github</a
        >
        <a class="about-link" target="_self" href="{{ url_for('about') }}"
          >About</a
        >
      </nav>
    </header>
    <div class="background-image-container">
      <img
        src="../static/images/anime_background.webp"
        alt="anime card background"
        class="background-image"
      />
    </div>
    <div class="head-wrapper">
      <h1>Convert Your Anime List to Osu! Beatmaps</h1>
      <div class="search_container">
        <form action="" class="search" method="POST">
          <input
            class="search__input"
            type="text"
            id="user"
            name="user"
            placeholder="Enter Your MyAnimeList Username"
          />
          <button class="search__button">
            <svg
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 20 20"
              class="search__icon"
            >
              <title>magnifying-glass</title>
              <path
                d="M17.545 15.467l-3.779-3.779c0.57-0.935 0.898-2.035 0.898-3.21 0-3.417-2.961-6.377-6.378-6.377s-6.186 2.769-6.186 6.186c0 3.416 2.961 6.377 6.377 6.377 1.137 0 2.2-0.309 3.115-0.844l3.799 3.801c0.372 0.371 0.975 0.371 1.346 0l0.943-0.943c0.371-0.371 0.236-0.84-0.135-1.211zM4.004 8.287c0-2.366 1.917-4.283 4.282-4.283s4.474 2.107 4.474 4.474c0 2.365-1.918 4.283-4.283 4.283s-4.473-2.109-4.473-4.474z"
              ></path>
            </svg>
          </button>
        </form>
      </div>
      <p class="example">For example: NuxTaku</p>
    </div>
    <div class="secondary-wrapper"></div>
  </body>
</html>
